* {
  margin: 0;
}

h1 {
  font-family: 'Vollkorn';
  font-size: 1.65rem;
  margin: 0.25rem 0;
}

h2 {
  font-family: 'Vollkorn';
  font-size: 1.45rem;
  margin: 0.25rem 0;
}

h3 {
  font-family: 'Vollkorn';
  margin: 0.25rem 0;
}

th {
  font-family: 'Vollkorn';
}

.astro-code {
  font-family: 'IBM Plex Mono', monospace;
  margin: .5rem 0;
  padding: .5rem;
  border-color: var(--col-fade);
  border-style: solid;
  border-radius: .3rem;
  border-width: .05rem;
  font-size: 1rem;
}

.katex-html {
  font-size: 1rem;
}

ul ol {
  padding-left: 1.25rem;
}

li, td, p {
  font-family: 'Vollkorn';
  font-weight: 300;
  margin: .25rem 0;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
  object-fit: scale-down;
}

hr {
  margin: 1rem 0;
}
